<%- include ("partials/header") -%>

<section id="announcements">
    <div class="container text-center">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h4>A Message from Disney Cruiseline!</h4>
            <p>Disney Cruise Line information about Covid-19. <a href="#">Learn More</a></a></p>
        </div>
    </div>
</section>

<section id="banner">
    <div class="container">
        <div class="group text-center">
            <div class="box">
                <h2>Plan Your Disney Cruise Now!</h2>
                <button class="btn btn block btn-success">Book Now</button>
            </div>
        </div>
    </div>
</section>

<section id="discover">
    <div class="container-fluid">
        <h2 class="text-center">Discover Disney Cruise Line</h2>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <img src="https://cdn1.parksmedia.wdprapps.disney.com/resize/mwImage/1/870/544/75/dam/disney-cruise-line/ships/wonder/disney-wonder-sunset-16x9.jpeg?1597758931103" alt="Disney Cruise Ship at sunset" class="img-fluid" />
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <h3 class="text-center">What's Included in the Price of a Disney Cruise</h3>
                <p>Enchanting entertainment, outstanding dining options, spacious staterooms, fun-filled pools and waterslides plus our very own private island on select itineraries are yours to enjoy on a Disney cruise.</p>
                <button class="btn btn-info">View What's Included</button>
                <button class="btn btn-outline-info">Check Availability</button>
            </div>
        </div>
    </div>
</section>

<section id="why">
    <div class="container">
        <h2 class="text-center">Why Cruise with Disney?</h2>
        <p class="text-center">Discover fun and relaxation for everyone in the family on a Disney Cruise</p>
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3 box">
                <h4 href="#" class="text-center">Families</h4>
            </div>

            <div class="col-sm-12 col-md-3 col-lg-3 box">
                <h4 href="#" class="text-center">Adults</h4>
            </div>

            <div class="col-sm-12 col-md-3 col-lg-3 box">
                <h4 href="#" class="text-center">Kids</h4>
            </div>

            <div class="col-sm-12 col-md-3 col-lg-3 box">
                <h4 href="#" class="text-center">Tweens & Teens</h4>
            </div> 
        </div>
    </div>
</section>

<section id="latest">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <h3>Introducing Cruise Date Flexibilty</h3>
                <p>For any cruises booked by August 31, 2020 for sailings through March 2021, you can rest assured knowing you can change your sail date up to 15 days prior to departure.</p>
                <a href="#">View Details</a>
            </div>
    
            <div class="col-sm-12 col-md-4 col-lg-4">
                <h3>Fall 2021 Itineraries Just Announced!</h3>
                <p>She was at least free from the offense of Mr. Darcy’s further notice; though often standing within a very short distance of her, quite disengaged, he never came near enough to speak. She felt it to be the probable consequence of her allusions to Mr. Wickham, and rejoiced in it.</p>
                <a href="#">View Details</a>
            </div>
    
            <div class="col-sm-12 col-md-4 col-lg-4">
                <h3>Message from Disney Cruise LIne</h3>
                <p>She was at least free from the offense of Mr. Darcy’s further notice; though often standing within a very short distance of her, quite disengaged, he never came near enough to speak. She felt it to be the probable consequence of her allusions to Mr. Wickham, and rejoiced in it.</p>
                <a href="#">Read More</a>
            </div>
        </div>  
    </div>
</section>

<section id="plan">
    <div class="container">
        <h2 class="text-center">Plan & Save</h2>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 box">
                <h3 class="text-center">Free Cruise-Planning Tools</h3>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 box">
                <h3 class="text-center">View Special Offers</h3>
            </div>
        </div>
    </div>
</section>

<section id="assist">
    <div class="container">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <p>For assistance with your Disney Cruise, please call (800) 951-3532.</p>
            <p>Monday through Friday, 8:00 AM to 10:00 PM Eastern time; Saturday and Sunday, 9:00 AM to 8:00 PM Eastern time.</p>
            <p>Guests under 18 years of age must have parent or guardian permission to call.</p>
        </div>
    </div>
</section>

<%- include ("partials/footer") -%>